@import '_base.scss';

main {
    h2,h3 {
        text-align: left;
    }
}
.access {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    // width: 60%;
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
    }
    .services {
        h3,h4,p {
            text-align: left;
            max-width: 660px;
        }
    }
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        .star {
            border: 2px solid #1EACE2;
            border-radius: 18px;
            padding: 10px;

            img {
                display: flex;
                margin: 0 auto;
            }
            h5 {
                color: #1EACE2;
                font-size: 16px;
                padding: 5px;
            }
            p {
                font-size: 14px;
                width: 450px;
                margin: 0 auto;
                padding: 0;
            }
            h3 {
                width: 400px;
                text-align: center;
                margin: 0 auto;
            }
        }
        .contact {
            display: flex;
            justify-content: center;
            padding: 45px 0;
            // @media only screen and (max-width: 1200px) {
            //     flex-direction: column;
            // }
            .contact__item {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                p {
                    text-align: center;
                    font-size: 12px;
                    padding: 10px;
                    width: auto;
                    color: black;
                    span {
                        display: block;
                    }
                }
            }
        }
        p {
            text-align: left;
            font-size: 14px;
            padding: 0;
            width: 450px;
            color: #4D4D4F;
        }
    }
}
 
.resources {
    .resource-group {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
        }
        .resource__item {
            // width: 30%;
            padding: 15px;
            img {
                width: 312px;
                border: 2px solid #1D819E;
            }
            h4 {
                padding-top: 0;
                width: 280px;
            }
            p {
                padding-bottom: 0;
            }
        }

        .box {
            background: #1D819E;
            margin: 15px;
            width: 450px;
            h4 {
                color: white;
                padding-top: 15px;
                width: auto;
            }

            &.darker {
                background: #166176;
            }
            &.darkest {
                background: #0E404F;
            }
        }
    }
}