@import '_base.scss';

main {
    h2,h3 {
        text-align: left;
    }
}
.access {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    // width: 60%;
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
    }
    .services {
        h3,h4,p {
            text-align: left;
            max-width: 660px;
        }
    }
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        .star {
            border: 2px solid #1EACE2;
            border-radius: 18px;
            padding: 10px;

            img {
                display: flex;
                margin: 0 auto;
            }
            h5 {
                color: #1EACE2;
                font-size: 16px;
                padding: 5px;
            }
            p {
                font-size: 14px;
                width: 450px;
                margin: 0 auto;
                padding: 0;
            }
            h3 {
                width: 400px;
                text-align: center;
                margin: 0 auto;
            }
        }
        .contact {
            display: flex;
            justify-content: center;
            padding: 45px 0;
            // @media only screen and (max-width: 1200px) {
            //     flex-direction: column;
            // }
            .contact__item {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                p {
                    text-align: center;
                    font-size: 12px;
                    padding: 10px;
                    width: auto;
                    color: black;
                    span {
                        display: block;
                    }
                }
            }
        }
        p {
            text-align: left;
            font-size: 14px;
            padding: 0;
            width: 450px;
            color: #4D4D4F;
        }
    }
}
 
.resources {
    .resource-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .resource-box {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 262px;
            min-width: 163px;
            height: 150px;
            padding: 30px;
            margin: 20px;
            border: 3px solid #166176;
            color: #166176;
            font-size: 21px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-align: center;
            span {
                font-weight: 300;
                font-size: 14px;
            }
            img {
                width: 26px;
            }
            i {
                font-size: 36px;
            }
            img, i {
                padding: 25px;
                padding-top: 0;
            }
            &.secondary-dark {
                border: 3px solid #0E404F;
                color: #0E404F;
            }
            &.secondary-light {
                border: 3px solid #1D819E;
                color: #1D819E;
            }
        }
    }
}