@import '_base.scss';

main {
    h2,h3,h4,p {
        text-align: left;
    }
    img {
        padding: 30px 0;
    }

    .tab-content {
        padding: 0 45px;
        padding-bottom: 24px;
        border-bottom: 2px solid #1D819E;
        h4:first-child {
            color: #333333;
        }
    }
}