@import '_base.scss';

main {
    padding-top: 40px;
    
    h2,h3,h4,p,ul {
        text-align: left;
        padding-left: 0;
    }
    img {
        padding: 30px 0;
        text-align: center;
        width: 80%;
        @media only screen and (max-width: 1200px) {
            width: 100%;
        }
    }
    ul {
        h4 {
            padding-left: 15px;
        }
    }

    // Trial Design
    .tab-content {
        padding: 0 45px;
        padding-bottom: 24px;
        border-bottom: 2px solid #1D819E;
        h4:first-child {
            color: #333333;
        }
    }

    // Baseline Characteristics
    .cols {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 1200px) {
            flex-direction: column;
        }

        .col {
            padding: 35px;
            width: 50%;
            @media only screen and (max-width: 1200px) {
                width: 100%;
            }
            &:first-child {
                border-right: 2px solid #1D819E;
                text-align: center;
                padding-left: 35px;
                p {
                    margin-top: -30px;
                }
                h4 {
                    padding-top: 0;
                }
                @media only screen and (max-width: 1200px) {
                    border-right: none;
                }
            }
            ul {
                padding: 0 25px;
                padding-bottom: 35px;
            }
            .row {
                border-bottom: 2px solid #1D819E;
            }
        }
    }
}