@import '_base.scss';

main {
    
    img {
        display: flex;
        margin: 0 auto;
        @media only screen and (max-width: 1200px) {
        width: 100%;
        }
    }
    h2,h3,h4,p {
        text-align: left;
    }
    h3:nth-child(2){
        text-align: center;
    }
    .centered {
        h4, p{
            text-align: center;
            padding: 0;
        }
        padding-bottom: 20px;
    }
    .pie-chart {
        padding-top: 35px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 2px solid #1D819E;
        border-bottom: 2px solid #1D819E;
    }
    .median-figures {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid #1D819E;
        height: 190px;
        h4 {
            padding-bottom: 0;
            font-size: 28px;
        }
        p {
            padding: 0;
            color: #4D4D4F;
        }
        .figure__row {
            display: flex;
            padding: 15px;
        }
    }
    .systemic-therapy {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid #1D819E;
        padding: 25px;
        .list-group {
            display: flex;
            width: 100%;
            justify-content: center;
            .line {
                border-left: 1px solid #1D819E;
            }
            ul {
                width: 400px;
            }
        }
    }
    .response-rate {
        display: flex;
        align-items: center;
        flex-direction: column;
        h2 {
            width: 760px;
        }
        
        .img-label {
            border-top: 1px solid #BCBEC0;
            border-bottom: 1px solid #BCBEC0;
            width: 800px;
            text-align: center;
        }
        h3 {
            font-size: 24px;
        }
        .response-rate__figures {
            display: flex;
            justify-content: space-evenly;
            border: 2px solid #1D819E;
            width: 630px;
            margin-bottom: 25px;
            @media only screen and (max-width: 1200px) {
                flex-direction: column;
            }
            .line {
                margin: 15px 0;
                border-left: 2px solid #BCBEC0;
            }
            .figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px;
                p {
                    padding: 10px;
                    width: 200px;
                    font-size: 16px;
                    span {
                        font-size: 21px;
                    }
                    &.figure__details {
                        text-align: right;
                    }
                }
            }
        }
    }
    // ul {
    //     padding: 0 15px;
    //     position: relative;
    //     li::before {
    //             content: "\2022";
    //             position: relative;
    //             top: 35px;
    //             color: #0E404F;
    //     }

    //     li {
    //         margin-top: -40px;
    //     }
    // }


    .treatment-assessments {
        margin-top: 45px;
        padding: 0 15px;
        h3,h4,p {
            text-align: left;
        }
        h3 {
            padding: 10px 15px;
            margin-bottom: -15px;
        }
        ul {
            padding: 0 15px;
            position: relative;
            li::before {
                    content: "\2022";
                    position: relative;
                    top: 35px;
                    color: #0E404F;
            }
            li {
                margin-bottom: -45px;
                p {
                    margin-top: 0;
                }
            }
        }
        p {
            margin-top: 45px;
            font-size: 21px;
            line-height: 25.2px;
        }
    }

    .ttr {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid #1D819E;
        padding-bottom: 20px;
        padding-top: 15px;
        h4:nth-child(2) {
            border-left: 1px solid #1D819E;
            border-right: 1px solid #1D819E;
        }
        h4 {
            max-width: 329px;
            padding: 35px;
            text-align: center;
        }
    }

    .sap-criteria {
        display: flex;
        justify-content: space-between;
        margin: 0 120px;

        .sap-data {
            background: url(../assets/svg/efficacy-grad1.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 20%;
            height: 146px;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            padding: 0 40px;

            .jumbo {
                font-size: 60px;
                line-height: 72px;
                margin-bottom: -10px;
            }
            span {
                font-family: 'Open Sans', sans-serif;
                display: block;
                font-size: 28px;
                line-height: 33px;
                font-weight: 600;
                text-align: left;
            }
            p {
                padding: 0;
            }
        }
        .sap-text {
            background: url(../assets/svg/efficacy-grad2.svg);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            height: 146px;
            h3, h4 {
                text-align: right;
                margin-right: 40px;
                margin-left: 40px;
                padding: 0;
            }
            h3 {
                line-height: 36px;
                font-size: 28px;
                color: #0E404F;
            }
        }
    }

    .cr2 {
        border-bottom: 1px solid #1D819E;
        border-top: 1px solid #1D819E;
        padding-bottom: 32px;
    }
    .cr2__data {
        background: url(../assets/svg/efficacy-grad3.svg);
        background-size: cover;
        color: white;
        height: 146px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        margin: 0 120px;
        span {
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            font-size: 28px;
            margin: 5px;
        }
        .jumbo {
            font-size: 60px;
        }
        h4 {
            text-align: right;
            color: #fff;
            font-weight: normal;
            font-size: 21px;
            padding: 0;
        }
    }
}