@import "_base.scss";

/* Carousel */
.carousel {
    height: 435px;
    position: relative;
}
.carousel::before, .carousel::after, .carousel__prev, .carousel__next {
    content: '';
    font-size: 0px;
    z-index: 1;
    background-size: 3.5rem 3.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    /* padding: 20px; */
    /* margin-top: 20.5%; */
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    display: none;
}
.carousel::before, .carousel::after {
    pointer-events: none;
}
.carousel::before, .carousel__prev {
    left: 1rem;
}
.carousel::before {
    background-image: url(../assets/svg/carousel-chevron-left.svg);
}
.carousel::after, .carousel__next {
    right: 1rem;
}
.carousel::after {
    background-image: url(../assets/svg/carousel-chevron-right.svg);
}
.carousel__viewport {
    /* height: 435px; */
    /* background: var(--bg-gradient); */

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    /* padding: 15px 100px; */
}
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
.carousel__slide:before {
    content: '';
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
}
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25); */
    border-bottom: 1px solid #000;
}
.slide__data {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 35px 100px;
}
.slide3__data {
    width: 25%;
}
.data-container {
    display: flex;
    justify-content: space-evenly;
}
.data-container__figure {
    width: 200px;
    text-align: center;
}
#carousel__slide1 {
    background: url(../assets/images/bg-slide1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -50px;
}
#carousel__slide2 {
    visibility: hidden;
    background: url(../assets/images/bg-slide2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#carousel__slide3 {
    visibility: hidden;
    background: url(../assets/images/bg-slide3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#carousel__slide4 {
    visibility: hidden;
    background: url(../assets/images/bg-slide4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel__navigation {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.carousel__navigation-list, .carousel__navigation-item {
    display: inline-block;
}
.carousel__navigation-button {
    z-index: 5;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 15px;
    background-color: #fff;
    background-clip: content-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}
@media only screen and (min-width: 1900px) {
    .carousel {
        height: 500px;
    }
    .carousel__navigation {
        bottom: 5%;
    }
    // #carousel__slide1 {
    //     background-position-y: -370px;
    //     background-position-x: -50px;
    // }
    #carousel__slide4 {
        background: url(../assets/images/xl-bg-slide4.png);
    }
}
.slide__text {
    padding: 15px 100px;
    display: flex;
    width: 30%;
    /* width: 100%; */
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: flex-end;
    /* justify-content: space-evenly; */
    justify-content: center;
    
    border-left: 2px solid #fff;
    background: url(../assets/svg/carousel-grad1.svg);
    background-size: cover;
}
.slide__text h1 {
    width: 400px;
    text-align: right;
}
.carousel__slide h3,.carousel__slide h4 {
    font-weight: normal;
    text-align: right;
    color: white;
    font-size: 21px;
    line-height: 33px;
    width: 450px;
    padding: 25px 0;
}
.carousel__slide--hidden {
    display: none;
}
.carousel-button {
    background: #fff;
    color: #3A92A7;
    font-weight: normal;
    padding: 12px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    box-shadow: 0 -2px 12px rgba(255,255,255, .9);
}
.carousel-text--bold {
    font-weight: bold;
}
.carousel-text--secondary {
    color: var(--secondary-color);
}
.carousel-text--primary {
    color: var(--primary-color);
}
.carousel-text--gray {
    color: #7E7E7E;
}
.carousel-text--dark {
    color: #555;
    font-weight: bold;
    padding: 10px;
    background: rgba(255, 254, 255, 0.62);
}

/* Question Buttons */
.question-buttons {
    margin-top: -45px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 20px;

}
.question_buttons__button {
    z-index: 2;
    background: #fff;
    color: var(--primary-color);
    min-width: 188px;
    max-width: 196px;
    height: 60px;
    padding: 24px 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
        // width: 140px;
        // max-width: 195px;
        font-size: 16px;
        line-height: 19.2px;
        font-weight: normal;
        padding: 0;
    }
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

    background: url(../assets/svg/qb-grad.svg);
    background-size: cover;

    border-top: 2px solid #430298;
    border-bottom: 2px solid #430298;
}