@import "_base.scss";

main {
    h2, h3, h4, p {
        text-align: left;
        padding: 15px 0;
    }
    h2 {
        padding: 30px 0;
        line-height: 1.5em;
    }
    img {
        display: flex;
        margin: 0px auto;
        width: 60%;
        @media only screen and (max-width: 1200px) {
            width: 100%;
        }
    }
    p {
        color: #4D4D4F;
        padding: 10px;
    }
    .center {
        text-align: center;
    }
}

.response-rate {
    margin: 20px 0px;
    width: 95%;
    h4 {
        text-align: left;
        padding: 30px 100px;
    }
    span {
        padding: 15px;
    }
    .line {
        border-left: 1px solid #4D4D4F;
        height: 70px;
        margin-left: 25px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .response-rate-data {
        display: flex;
    }
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        width: auto;
        padding: 25px 0;
        margin: 0;
    }
}

.median {
    display: flex;
    align-items: center;
    justify-content: center;
    .median__figure {
        h1 {
            font-weight: 700;
            font-size: 48px;
            text-align: center;
        }
        h4 {
            text-align: center;
        }
    }
    hr {
        margin: 20px;
        border-left: 1px solid black;
    }
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        hr {
            display: none;
        }
    }
}

.ptcl-data {
    h3, h4, p {
        text-align: left;
    }
    h3 {
        padding: 25px;
    }
    h3, h4 {
        padding: 15px;
    }
}