@import "_base.scss";

main {
    h2:first-child {
        width: 710px;
        margin: 0 auto;
    }
    img {
        display: flex;
        margin: 50px auto;
    }
}

.response-rate {
    margin: 20px 0px;
    width: 95%;
    h4 {
        width: 720px;
        text-align: left;
    }
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.median {
    display: flex;
    align-items: center;
    justify-content: center;
    .median__figure {
        h1 {
            font-weight: 600;
            font-size: 48px;
            text-align: center;
        }
    }
    hr {
        margin: 20px;
        border-left: 1px solid black;
    }
}

.ptcl-data {
    h3, h4, p {
        text-align: left;
    }
    h3, h4 {
        padding: 0 15px;
    }
}