@import "_base.scss";

main {
    h2,h3,h4,h5,p {
        padding: 15px;
        text-align: center;
    }
}

.response-rate {
    margin: 20px 0px;
    width: 95%;
    h4 {
        width: 720px;
        text-align: left;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.median {
    display: flex;
    align-items: center;
    justify-content: center;
    .median__figure {
        h1 {
            font-weight: 600;
            font-size: 48px;
            text-align: center;
        }
    }
    hr {
        margin: 20px;
        border-left: 1px solid black;
    }
}
