@import '_base.scss';

main {
    h4,p {
        text-align: left;
    }
    ul {
        padding: 0 15px;
        position: relative;
        li::before {
                content: "\2022";
                position: relative;
                top: 40px;
                color: #0E404F;
        }

        li {
            margin-top: -40px;
            line-height: 28px;
        }
    }
    .patient-aes {
        display: flex;
        padding: 24px;
        ul {
            padding: 45px;
            ul {
                padding-bottom: 0;
                padding-right: 0;
                padding-left: 25px;
            }
            ul li:before {
                margin-left: -.5em;
                content: "-";
                position: relative;
                top: 0px;
            }
        }
    }
    .tolerability-data {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .data_figure:first-child {
            h4 {
                text-align: right;
            }
        }
        .data_figure {
            h4 {
                display: flex;
                flex-direction: column;
            }
            .jumbo {
                font-size: 72px;
                line-height: 86.4px;
                font-weight: 600;
            }
            .big {
                font-size: 36px;
                font-weight: 600;
                line-height: 43.2px;
            }
        }
    }
}