@import '_base.scss';

main {
    h4,p {
        text-align: left;
    }
    .patient-aes {
        display: flex;
        padding: 24px;
        width: 100%;
        ul {
            padding: 45px;
            width: 70%;
            ul {
                padding-bottom: 0;
                padding-right: 0;
                padding-left: 25px;
            }
            ul li:before {
                margin-left: -.5em;
                content: "-";
                position: relative;
                top: 0px;
            }
            li::before {
                content: "\2022";
                position: relative;
                // top: 42px;
                color: #0E404F;
            }
        }
    }
    .tolerability-data {
        display: flex;
        align-items: center;
        justify-content: center;
        .data_figure:first-child {
            h4 {
                text-align: right;
            }
        }
        .data_figure {
            h4 {
                display: flex;
                flex-direction: column;
            }
            .jumbo {
                font-size: 72px;
                line-height: 86.4px;
                font-weight: 600;
            }
            .big {
                font-size: 36px;
                font-weight: 600;
                line-height: 43.2px;
            }
        }
    }
    .heartline {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px;
        h4 {
            width: 740px;
        }
    }
    .bounding_box {
        border-top: 2px solid #1D819E;
        border-bottom: 2px solid #1D819E;
        padding: 25px 0px;
        h4 {
            padding: 15px;
            width: 30%;
        }
        h4:nth-child(2) {
            border-left: 2px solid #1D819E;
            border-right: 2px solid #1D819E;
        }

        display: flex;
        justify-content: center;
    }
}