/* CSS Variables */
:root {
    --primary-color:#442A8B;
    --secondary-color: #3A92A7;
    --secondary-color-variant: #B5D7DF;
    --tertiary-color: #FF672F;
    --gray-color: #DEDEDE;
    --bg-gradient: linear-gradient(359.43deg, #DBDDDB 0.49%, rgba(219, 221, 219, 0) 104.37%);
    /* --box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

/* General Styles */
/* body {
    margin: 10px 40px;
} */
a {
    text-decoration: none;
}

/* Typography */
h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--primary-color);
}
h2 {
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 53px;
    color: var(--primary-color)
}
h3 {
    font-size: 1.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 42.56px;
    color: var(--secondary-color);
}
h4 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 34px;
    color: var(--secondary-color);
}
h5,.h5 {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 27px;
    color: var(--primary-color);
}
p,.p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
.helper {
    font-size: .8em;
    line-height: 17px;
    font-family: 'Open Sans', sans-serif;
}
.copyright {
    font-size: 0.7em;
    font-family: 'Open Sans', sans-serif;
    line-height: 13px;
}

/* Header */
header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 40px;
    z-index: 1;
}
/* Indications and Usage */
.indications {
    padding: 10px 0;
    border-bottom: 2px solid var(--gray-color);
}
/* Nav (Logo and buttons) */
.nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.nav__buttons {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.site-buttons {
    display: flex;
    margin-top: -10px;
}
.site-buttons__button {
    max-width: 163px;
    min-width: 140px;
    min-height: 40px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    color: black;
}
.site-buttons__button.button--orange {
    background-color: var(--tertiary-color);
    color: #fff;
}
/* Nav Links and Dropdown Menus */
.navlinks {
    display: flex;
    padding-top: 10px;
}
.navlinks li {
    border-left: 2px solid var(--secondary-color-variant);
    padding: 6px;
    max-width: 100px;
    min-width: 90px;
}
.navlinks__link {
    color: black;
}
.navlinks li:hover .dropdown {
    z-index: 5;
    display: block;
    color: var(--primary-color);
}
.dropdown {
    display: none;
    padding: 6px;
    width: 104px;
    margin-left: -10px;
    background-color: #fff;
    position: absolute;
}
.dropdown li {
    border-left: none;
}

/* Carousel */
.carousel {
    height: 435px;
    position: relative;
}
.carousel::before, .carousel::after, .carousel__prev, .carousel__next {
    content: '';
    font-size: 0px;
    z-index: 1;
    background-size: 3.5rem 3.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    /* padding: 20px; */
    /* margin-top: 20.5%; */
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
}
.carousel::before, .carousel::after {
    pointer-events: none;
}
.carousel::before, .carousel__prev {
    left: 1rem;
}
.carousel::before {
    background-image: url(/assets/svg/carousel-chevron-left.svg);
}
.carousel::after, .carousel__next {
    right: 1rem;
}
.carousel::after {
    background-image: url(/assets/svg/carousel-chevron-right.svg);
}
.carousel__viewport {
    /* height: 435px; */
    background: var(--bg-gradient);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    /* padding: 15px 100px; */
}
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
.carousel__slide:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
}
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.slide__data {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 35px 100px;
}
.slide3__data {
    width: 25%;
}
.data-container {
    display: flex;
    justify-content: space-evenly;
}
.data-container__figure {
    width: 200px;
    text-align: center;
}
#carousel__slide1 {
    background: url(../assets/images/bg-slide1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* #carousel__slide2 {
    background: url(../assets/images/bg-slide2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#carousel__slide3 {
    background: url(../assets/images/bg-slide3.png);
    background-size: cover;
    background-repeat: no-repeat;
} */
#carousel__slide4 {
    background: url(../assets/images/bg-slide4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.carousel__navigation-list, .carousel__navigation-item {
    display: inline-block;
}
.carousel__navigation-button {
    z-index: 5;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 15px;
    background-color: #fff;
    background-clip: content-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}
@media only screen and (min-width: 1900px) {
    .carousel__navigation {
        bottom: 5%;
    }
    #carousel__slide1 {
        background: url(../assets/images/xl-bg-slide1.png);
    }
    #carousel__slide4 {
        background: url(../assets/images/xl-bg-slide4.png);
    }

}
.slide__text {
    padding: 15px 100px;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.carousel__slide h3,h4 {
    font-weight: normal;
}
.carousel__slide--hidden {
    display: none;
}
.carousel-button {
    background: var(--tertiary-color);
    color: #fff;
    font-weight: normal;
    padding: 12px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.carousel-text--bold {
    font-weight: bold;
}
.carousel-text--secondary {
    color: var(--secondary-color);
}
.carousel-text--primary {
    color: var(--primary-color);
}
.carousel-text--gray {
    color: #7E7E7E;
}
.carousel-text--dark {
    color: #555;
    font-weight: bold;
    padding: 10px;
    background: rgba(255, 254, 255, 0.62);
}

/* Question Buttons */
.question-buttons {
    margin-top: 5px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0;
}
.question_buttons__button {
    background: #fff;
    font-weight: normal;
    min-width: 175px;
    max-width: 206px;
    height: 100px;
    padding: 24px 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Footer (ISI) */
footer {
    width: 100%;
    position: fixed;
    background: #fff;
    margin: 0;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    z-index: 2;
}
.isi {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 80%; */
}
.isi__body--bold {
    font-weight: bold;
    display: block;
}
.isi__body {
    line-height: 17px;
    width: 70%;
}
.isi__button {
    font-weight: bold;
    min-width: 100px;
    color: var(--tertiary-color);
}