/* CSS Variables */
:root {
    --primary-color:#442A8B;
    --secondary-color: #3A92A7;
    --secondary-color-variant: #B5D7DF;
    --tertiary-color: #FF672F;
    --gray-color: #DEDEDE;
    --bg-gradient: linear-gradient(359.43deg, #DBDDDB 0.49%, rgba(219, 221, 219, 0) 104.37%);
    /* --box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

/* General Styles */
/* body {
    margin: 10px 40px;
} */
a {
    text-decoration: none;
}

/* Typography */
h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--primary-color);
}
h2 {
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--primary-color)
}
h3 {
    font-size: 1.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: var(--secondary-color);
}
h4 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 34px;
    color: var(--secondary-color);
}
h5,.h5 {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 27px;
    color: var(--primary-color);
}
p,.p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
.helper {
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
}
.copyright {
    font-size: 0.7em;
    font-family: 'Open Sans', sans-serif;
    line-height: 13px;
}

/* Header */
header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 40px;
}
/* Indications and Usage */
.indications {
    padding: 10px 0;
    border-bottom: 2px solid var(--gray-color);
}
/* Nav (Logo and buttons) */
.nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.nav__buttons {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.site-buttons {
    display: flex;
    margin-top: -10px;
}
.site-buttons__button {
    min-width: 160px;
    min-height: 40px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    color: black;
}
.site-buttons__button.button--orange {
    background-color: var(--tertiary-color);
    color: #fff;
}
/* Nav Links and Dropdown Menus */
.navlinks {
    display: flex;
    padding-top: 10px;
}
.navlinks li {
    border-left: 2px solid var(--secondary-color-variant);
    padding: 6px 6px 6px 12px;
    max-width: 100px;
    min-width: 90px;
}
.navlinks__link {
    color: black;
}
.dropdown--hidden {
    display: none;
}

/* Carousel */
.carousel__viewport {
    height: 435px;
    background: var(--bg-gradient);
    padding: 15px 100px;
}
.carousel__slide {
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.carousel__slide h3,h4 {
    font-weight: normal;
}
.carousel__slide--hidden {
    display: none;
}
.carousel-button {
    background: var(--tertiary-color);
    color: #fff;
    font-weight: normal;
    padding: 12px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.carousel-text--bold {
    font-weight: bold;
}

/* Question Buttons */
.question-buttons {
    margin-top: -20px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0;
}
.question_buttons__button {
    background: #fff;
    font-weight: normal;
    min-width: 175px;
    max-width: 206px;
    height: 128px;
    padding: 24px 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Footer (ISI) */
footer {
    position: fixed;
    width: 100vw;
    background: #fff;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    bottom: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    /* border-top: 1px solid black; */
}
.isi {
    width: 80%;
}
.isi__body--bold {
    font-weight: bold;
    display: block;
}
.isi__body {
    line-height: 17px;
    width: 70%;
}
.isi__button {
    font-weight: bold;
    min-width: 100px;
    color: var(--tertiary-color);
}